@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Estilos para todos os tamanhos de tela */
body {
  /*display: flex;*/
  place-items: center; /* Centraliza horizontal e verticalmente */
  margin: 0; /* Remove margens padrão do body */
  min-height: 100vh; /* Garante que ocupa a altura total da tela */
}

#app {
  display: grid;
  grid-template-columns: 1fr; /* Layout de duas colunas */
  padding: 0 2rem; /* Espaçamento nas laterais */
  max-width: 2379px; /* Largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
  font-weight: normal;
}